<h2>New Event</h2>
<div class="row">
	<div class="col-md-4">
		<%= form_tag("/events", method: "post") do %>
			<div class="form-group">
				<label for="name">Name:</label>
				<input type="text" class="form-control" placeholder="My cool event" id="name">
			</div>
			<div class="form-group">
				<label for="from">From:</label>
				<input type="date" class="form-control" id="from">
			</div>
			<div class="form-group">
				<label for="end">To:</label>
				<input type="date" class="form-control" id="end">
			</div>

			<input type="hidden" id="latitude">
			<input type="hidden" id="longitude">
			<input type="hidden" id="radius">

			<button type="submit" class="btn btn-primary btn-blo btn-submit">Create Event</button>
		<% end %>
	</div>
	<div class="col-md-8">
		<div class="row">
			<div class="col-md-6">
				<form role="form" id="address" action="javascript:codeAddress()">
					<div class="form-group">
						<label for="address">Search:</label>
							<div class="input-group">
							<div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
							<input placeholder="Address" type="search" class="form-control">
						</div>
					</div>
				</form>
			</div>

			<div class="col-md-6">
				<form role="form-" id="radius-form" action="javascript:codeRadius()">
					<div class="form-group">
						<label for="radius">Radius:</label>
						<div class="input-group">
							<input placeholder="Radius" type="number" class="form-control">
							<div class="input-group-addon">feet</div>
						</div>
					</div>
				</form>
			</div>
		</div>

		<div id="map-canvas"></div>
	</div>
</div>