<h1><%= @event.name %></h1>
<h4><%= @event.start_date.to_formatted_s(:long) %> to <%= @event.end_date.to_formatted_s(:long) %></h4>

<hr />

<div class="row">
	<div class="col-md-6">
		<h3>Posts</h3>
	</div>
	<div class="col-md-6">
		<h3>Files</h3>
	</div>
</div>